<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Dashboard de BARÍ LMS">

<title>BARÍ LMS | {{ dashboard.role | default("Demo") }}</title>

<link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
<link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/sena-learn.css') }}" rel="stylesheet">